* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

section {
    padding: 0 200px;
}

.primary-button {
    background: #FF5959;
    border: 0;
    color: #fff;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
}

section {
    margin: 100px 0;

}

/* Hero section Style */
.header-section {
    text-align: center;
    background: url(../images/donation1.jpg) rgba(0, 0, 0, 0.368);
    background-size: cover;
    background-blend-mode: overlay;
    padding: 150px 200PX;
}

.hero-title {
    font-size: 65px;
    font-weight: 700;
    color: white;
}

.hero-subtitle {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin: 15px 0;
}

/* donate today styes */
.doant-today {
    text-align: center;
}

.donate-today-container {
    display: flex;
    justify-content: center;
}

.donate-box {
    background: #FAFAFA;
    border-radius: 5px;
    padding: 20px 15px 20px 15px;
    margin: 30px 5px;
    font-size: 20px;
}

.donate-box-color {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    padding: 20px 15px 20px 15px;
    margin: 30px 5px;
    font-size: 20px;
}

.section-title {
    color: #121212;
    font-size: 45px;
    text-align: center;

}

.section-description {
    color: #707070;
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.5;
    text-align: center;
}

input {
    border-bottom: 1px solid #707070;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px 0;
    text-align: center;
}

.submit-botton {
    margin: 20px 0px 0px 0px;
}

/* donate plane styles */
.donate-plna-container {
    display: flex;
    justify-content: space-around;
}

.donate-plna-container img {
    width: 40px;
    height: 30px;
}

.donate-plan-title {
    color: #121212;
    margin: 10px 0px;
    font-size: 22px;
}

.donate-plan-description {
    color: #707070;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.donate-sub-plan1 {
    padding: 50px 25px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    display: grid;
    align-items: center;
    margin: 10px 10px;
}

.donate-sub-plan2 {
    padding: 50px 25px;
    background: rgba(255, 89, 89, 0.1);
    ;
    border-radius: 5px;
    display: grid;
    align-items: center;
    margin: 10px 10px;
}

.donate-sub-plan3 {
    padding: 50px 25px;
    background: #FFF4D6;
    border-radius: 5px;
    display: grid;
    align-items: center;
    margin: 10px 10px;
}
/* depand donation styles */

.depend-donation-left {
    display: flex;
}

.depend-donation-left img {
    width: 400px;
}
.section-title {
    color: #121212;
    font-size: 45px;
    text-align: center;

}
.depend-title {
    color: #121212;
    font-size: 45px;    
}
.depend-subtitle{
    color: #707070;
    font-size: 14px;
    margin: 15px 0;
}
.donation-depend{
    padding-right: 50px;
}
/* donation survive styles */
.donation-survive{
    padding-left:50px;
}